.app {
  text-align: center;
  background-image: url('./assests/bg1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat : no-repeat;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  position: absolute;
}


